/*common elemnts*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a{
    text-decoration: none;
    color: grey;
}

a:hover{
    color: white;
}

body{
    color: white;
    font-family: 'Montserrat';
}

main{
    width: 100%;
    height: 1000px;
    height: calc(100vh - 90px);
}

.icon{  
    width: 30px;
}

.bar
{
    background-color: rgb(48, 47, 47);
    height: 5px;
    border-radius: 50px;
}

.internal-bar{
    background-color: grey;
    height: 5px;
    border-radius: 50px;
}

.bar-point{
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: white;
    position: relative;
    left: 98%;
    bottom: 50%;
    display: none;
}

/*Start Nav*/

nav{
    background-color: #000000;
    height: 100vh;
    width: 250px;
    float: left;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-big{
    padding: 20px;
    width: 80%;
}

.logo-small{
    display: none;
    width: 30px;
}

.upper-menu{
    font-size: 15px;
}

.upper-menu img{
    width: 42px;
    vertical-align: middle;
    padding-left: 10px;
}

.home-box{
    border-left: #adff2f solid 4px;
    box-sizing: border-box;
    /*da controllare il bordo che spinge il blocco a lato*/
}

.center-menu{
    padding-left: 10px;
}

.center-menu .title{
    padding: 20px 0 15px 0;
    font-size: 13px;
    font-weight: bolder;
}

.center-menu .new-playlist img{
    height: 42px;
    
    vertical-align: middle;
}

.center-menu .new-playlist a{
    font-size: 13px;
}

.center-menu .name-playlist{
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.center-menu .name-playlist a{
    padding-top: 5px;
}

.lower-menu{
    padding-bottom: 90px;
    padding-left: 10px;
}

.lower-menu img{
    vertical-align: middle;
}

#download-logo{
    width: 15px;
}

#pre-hr-link{
    font-size: 12px;
    padding-left: 5px;
}

.lower-menu hr{
    margin: 10px 10px 10px 0;
}

#profile-logo{
    background-color: grey;
    border: solid grey 1px;
    border-radius: 150px;
    width: 30px;
    padding: 0 2px;
    margin-bottom: 5px;
}

#post-hr-link{
    font-weight: bolder;
    color: white;
}

/*Start library*/

.library{ 
    background-color: #141922;
    width: calc(100% - 250px);
    margin-left: 250px;
}

.upper-row{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: rgba(0, 0, 0, 50%);
}

.btn{
    width:10%;
    border: white solid 1px;
    border-radius: 50px;
    padding: 15px;  
    position: relative;
    top: 40%;
    left: 65%;
}

.main-block{
    padding: 80px 0 0 20px;
}

.upper-nav{
    display: flex;
    justify-content: center;   
}

.upper-nav a{
    padding: 1%;
    text-transform: uppercase;
    font-size: 15px;
}

.row-title{
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.row-subtitle{
    color: grey;
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 20px;
}

.row{
    display: flex;
    flex-direction: row;
}

.box{
    padding: 5px 1% 40px 0px;
    width: 170px;
}

.box img{
    width: 100%;
}

.box .box-title{
    display: block;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    font-size: 15px;
    color: white;
}

.box .box-subtitle{
    display: block;
    text-align: center;
    padding-top: 8px;
    font-size: 12px;
}

.artist-box{
    border-radius: 100px;
}

.footer-fix{
    height: 90px;
}

/*Start footer*/

footer{
    width: 100%;
    background-color: #282828;
    height: 90px;
    position: fixed;   
    display: flex;
    justify-content: space-between; 
}

.footer-left{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}

.footer-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.footer-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 10px;
    width: 20%;
}

#current-song-photo{
    width: 50px;
    height: 50px; 
}

.current-song{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.current-song-title{
    font-weight: bolder;
}

.current-song-subtitle{
    font-weight: bolder;
    font-size: 13px;
}

.footer-center .duration-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.footer-center .duration-bar .time{
    padding: 0 10px;
    font-size: 10px;
}

.footer-center .duration-bar .bar{
    width: 100%;
}

.footer-center .duration-bar .internal-bar{
    width: 40%;
}

.footer-right .bar{
    width: 30%;
}

.footer-right .internal-bar{
    width: 50%;
}

.bar:hover .internal-bar{
    background-color: chartreuse;
}

.bar:hover .bar-point{
    display: block;
}

/*responsive*/

@media (max-width:992px){
    .row{
        flex-wrap: wrap;
    }

    .upper-nav{
        flex-wrap: wrap;
    }
}

@media (max-width:576px){
    .library{
        margin-left: 50px;
        width: 570px;
    }

    nav{
        width: 50px;
    }

    .center-menu{
        display: none;
    }

    .nav-link{
        display: none;
    }

    nav hr{
        display: none;
    }

    .logo-big{
        display: none;
    }

    .logo-small{
        display: block;
    }
}
