/*common elemnts*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a{
    text-decoration: none;
    color: grey;
}

a:hover{
    color: white;
}

body{
    color: white;
    font-family: 'Montserrat';
}

main{
    width: 100%;
    height: 1000px;
    height: calc(100vh - 90px);
}

.icon{
    width: 30px;
}

.bar
{
    background-color: rgb(48, 47, 47);
    height: 5px;
    border-radius: 50px;
}

.internal-bar{
    background-color: grey;
    height: 5px;
    border-radius: 50px;
}

/*Start Nav*/

nav{
    background-color: #000000;
    height: 100vh;
    width: 250px;
    float: left;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    padding: 20px;
    width: 80%;
}

.upper-menu{
    font-size: 15px;
}

.upper-menu img{
    width: 42px;
    vertical-align: middle;
    padding-left: 10px;
}

.home-box{
    border-left: #adff2f solid 4px;
    box-sizing: border-box;
    /*da controllare il bordo che spinge il blocco a lato*/
}

.center-menu .title{
    padding: 20px 0 15px 10px;
    font-size: 13px;
    font-weight: bolder;
}

.center-menu .new-playlist img{
    height: 42px;
    padding-left: 10px;
    vertical-align: middle;
}

.center-menu .new-playlist a{
    font-size: 13px;
}

.center-menu .name-playlist{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-size: 13px;
}

.center-menu .name-playlist a{
    padding-top: 10px;
}

.lower-menu{
    padding-bottom: 90px;
}

.lower-menu img{
    height: 42px;
    vertical-align: middle;
}

/*Start library*/

.library{ 
    background-color: #141922;
    width: calc(100% - 250px);
    margin-left: 250px;
}

.upper-row{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: rgba(0, 0, 0, 50%);
}

.main-block{
    padding: 80px 0 0 20px;

}

.upper-nav{
    display: flex;
    justify-content: center;    
}

.upper-nav a{
    padding: 20px;
    text-transform: uppercase;
}

.row-title{
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.row-subtitle{
    color: grey;
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 20px;
}

.row{
    display: flex;
    flex-direction: row;
}

.box{
    padding: 5px 20px 40px 0px;
    width: 200px;
}

.box img{
    width: 100%;
}

.box .box-title{
    display: block;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    font-size: 15px;
    color: white;
}

.box .box-subtitle{
    display: block;
    text-align: center;
    padding-top: 8px;
    font-size: 12px;
}

.artist-box{
    border-radius: 100px;
}

/*Start footer*/

footer{
    width: 100%;
    background-color: #282828;
    height: 90px;
    position: fixed;   
    display: flex;
    justify-content: space-between; 
}

.footer-left{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#current-song-photo{
    width: 50px;
    height: 50px; 
}

.current-song{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.current-song-title{
    font-weight: bolder;
}

.current-song-subtitle{
    font-weight: bolder;
    font-size: 13px;
}

.footer-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}

.footer-center .duration-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-center .duration-bar .time{
    padding: 0 10px;
    font-size: 10px;
}

.footer-center .duration-bar .bar{
    width: 400px;
}

.footer-center .duration-bar .internal-bar{
    width: 120px;
}

.footer-right .bar{
    width: 100px;
}

.footer-right .internal-bar{
    width: 20px;
}
